extends layout
block content
  h1= title
  form(method='post', action='/posts/add', enctype='multipart/form-data')
    .form-group
        label(for='title') Title
        input#title.form-control(type='text', name='title', aria-describedby='emailHelp', placeholder='Enter email',value='This is a sample Title')
    .form-group
    label(for='descripion') Description
    textarea#descripion.form-control(rows='3', name='desc') This is a sample Desc
    .form-group
        label(for='category') Select Category
        select#category.form-control(multiple='', name='category')
            each item in categories
                option(selected='selected')= item.name
    .form-group
    label(for='featuredimage') Add an Image
    input#featuredimage.form-control-file(type='file', name='featuredimage')

    br
    button.btn.btn-primary(type='submit') Submit
  script(src='/ckeditor/ckeditor.js')
  script.
   CKEDITOR.replace( 'descripion' )
