extends layout

block content
 h2.page-header #{title}
 form(method='post', action='/users/login')
  .form-group
   label Username
   input.form-control#username(name='username1', type='text', placeholder='Enter Username' Validator.getValue('username'))
  .form-group
   label Password
   input.form-control(name='password1', type='password', placeholder='Enter Password')
  .checkbox
      label
        input(type='checkbox', name='remember_me')
        |  Remember me

  input.btn.btn-primary(type='submit', name='submit',value='Login')